//Variables
$primary-color: #87aca3;
$secondary-color: #c8dee3;
$tertiary-color: #a1bba1;
$other-color: red;

$background-color: white;
$background-color-secondary: #d2d2d2;

$text-color-primary: black;
$text-color-secondary: white;

$font-size-main: 90px;
$font-size-big-title: 60px;
$font-size-title: 22px;
$font-size-text: 14px;

$breakpoints-1200: 1200px;
$laptop-breakpoints: 1024px;
$tablets-breakpoints: 768px;
$mobile-breakpoints: 480px;

hr {
  border: none;
  width: 75%;
  border-top: 8px double white;
}

h1,
h2 {
  font-size: $font-size-main;
  @media (max-width: $tablets-breakpoints) {
    font-size: $font-size-big-title;
  }
}

h4 {
  display: flex;
  justify-content: center;
  font-size: $font-size-title;
  margin: 0;
}

.-padding-bot-40 {
  padding-bottom: 40px;
}
