@import '../../../Styles/global-styles.scss';

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: $primary-color;
  height: 40px;

  nav {
    display: flex;
    justify-content: space-evenly;
    height: 100%;

    .header-part {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      border: 2px solid black;
      color: $text-color-primary;
      font-size: $font-size-title;
      transition: all 350ms ease;

      @media (max-width: 550px) {
        font-size: 12px;
      }

      &:hover {
        background: black;
        color: white;
        cursor: pointer;
        box-shadow: 0px 12px 12px 0px black;
      }
    }

    .-selected {
      cursor: pointer;
      box-shadow: 0px 12px 12px 0px black;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
