@import '../../Styles/global-styles.scss';

.contact {
  align-items: center;
  align-self: center;
  width: 30%;
  padding: 20px;
  background-color: $background-color;
  font-size: $font-size-text;
  font-weight: bold;
  border-radius: 20px;

  @media (max-width: $tablets-breakpoints) {
    width: 80%;
  }

  .-flex-center {
    display: flex;
    justify-content: center;
  }

  form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 380px;

    .name-container {
      gap: 20px;

      @media (max-width: 1500px) {
        flex-direction: column;
        gap: 0;
      }
    }

    .mail-container {
      flex-direction: column;
    }

    .informations-container {
      flex-direction: column;

      textarea {
        resize: none;
      }
    }

    .submit-btn {
      align-items: center;
      align-self: center;
      border: 3px solid black;
      padding: 5px;
      border-radius: 8px;
      background: white;
      color: black;
      width: 50%;
      font-size: $font-size-text;
      font-weight: bold;
      transition: all 250ms;

      &:hover {
        cursor: pointer;
        border: 3px solid red;
        border-radius: 16px;
        background: black;
        color: white;
      }
    }
  }
}
